html {
    font-size: 10px
}

body {
    background-color: #a2e0dd;
}

h1,
h2 {
    color: #75D1AA;
    text-align: center;
    font-size: 2.5vw;
    padding-top: 50px;
}

h2 {
    margin: 10px;
    padding: 5px;
}

p {
    text-align: center;
    font-size: 2.5rem;
}

#navbar {
    background-color: #c6dfb1;
    border: 2px solid #77A6B6;
    border-radius: .5em;
    color: #fff;
    padding: .5em;
    margin: .5em;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-collapse: collapse;
}

#navbar ul li {
    margin: 9px;
    padding: 9px;
    font-size: 2rem;
}

#navbar ul li a {
    text-decoration: none;
}

#navbar ul li a:hover {
    background-color: #75D1AA;
}

.hidden {
    display: none;
}

.info {
    text-align: center;
    align-items: center;
    font-size: 3vw;
    margin: 10px;
    padding: 5px;
}

#game {
    text-align: center;
}

#game a {
    font-size: 2.5vw;
}

.top-players ul,
#resulte,
.container {
    display: flex;
    -ms-flex-align: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-players li {
    font-size: 1.5vw;
}

.top-players li,
#game a {
    background-color: #4D7298;
    border: 2px solid #77A6B6;
    border-radius: .5em;
    color: #fff;
    padding: .5em;
    margin: .5em;
}

.top-players .flex-form,
#resulte,
.container,
input {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#resulte,
.container {
    padding-bottom: 2vw;
}

#resulte p {
    background-color: #9a17ce;
    border: 2px solid #f0a4fa;
    border-radius: .5em;
    color: #fff;
    padding: .5em;
    margin: .5em;
}

.container {
    background-color: #999a9b;
    border: 2px solid #6e6d6e;
    border-radius: .5em;
    color: #fff;
    width: 250px;
}

input,
button {
    background-color: #8affdc;
    border: 2px solid #6e6d6e;
    border-radius: .5em;
    color: rgb(5, 5, 5);
    padding: .5em;
    margin: .5em;
}

label {
    color: #000;
}

button {
    background-color: #8aeedc;
}