{% extends "base.j2" %} {% block content %}
<div class="info">
    <div">
        <p>Find us on <a href="https://github.com/nadav-pesach/riddle-me-this">github</a>.</p>
        <p>riddles db credit: https://www.kaggle.com/crawlinburt/riddles?select=riddles.csv</p>
    </div>
</div>
{% endblock %}