{% extends "base.j2" %} {% block content %}


<div class="riddle">
    <p>riddle: {{riddle}}</p>
    <p>difficulty: {{difficulty}}</p>
    <form action="/answer" class="container" method="POST">
    <label for="answer"><b>answer</b></label>
    <input type="text" placeholder="answer" name="answer" id="answer">
    <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}