{% extends "base.j2" %} {% block content %}
<form action="/login" method="POST">

  <div class="container">
    <label for="user_name"><b>user_name</b></label>
    <input type="text" placeholder="User Name" name="user_name" id="user_name" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>

</form>
{% endblock %}